body {
    background: white url("images/123.jpg") no-repeat right bottom;
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}


.card{
    margin:15px;
    align-items:center;
    text-align: center;

}