{% extends 'usercocktails/base.html' %}
{% block title %}Cocktail Details{% endblock %}

{% block body %}

    <img src="{{ uctail.cocktail_pic.url }}" height="480" width="360" align="left">

    <h1>{{ uctail.cocktail_name }}</h1>
    <ul>
        <h3>PROPERTIES</h3>
        <li>Taste: {{ uctail.taste }}</li>
        <li>Difficulty: {{ uctail.difficulty }}</li>
        <li>Strength: {{ uctail.strength }}</li>
        <h3>SPIRITS</h3>
    </ul>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif%}

    <!-- <form action="{#% url 'cocktails:favorite' ctail.cocktail_name %#}" method="post">
        {#% csrf_token %#}
        {#% for s in ctail.spirit_set.all %#}
            <input type="radio" id="s{{ forloop.counter }}" name="spirit" value="{{ s.pk }}" />
            <label for="s{{ forloop.counter }}">
                {{ s.spirit_name }}
                {#% if s.is_favorite %#}
                    <img src="https://www.cloudynights.com//public/style_images/master/star.png" />
                {#% endif %#}
            </label><br>
        {#% endfor %#}
        <input type="submit" value="Favorite">
    </form> -->

{% endblock %}

















