{{% extends 'cocktails/base.html' %}
{% block title %}Cocktail Details{% endblock %}

{% block body %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'cocktails/detail.css' %}"/>
</head>
<body>
    <img src="{{ all_cocktails.cocktail_pic.url }}" height="480" width="360" align="left">

    <div id="name">
        <h3>{{ all_cocktails.cocktail_name }}</h3></div>
    <div id="name">
        <h3>PROPERTIES</h3></div>
    <div id="name2">
        <li>Taste: {{ all_cocktails.taste }}</li></div>
    <div id ="name2">
        <li>Difficulty: {{ all_cocktails.difficulty }}</li>
    </div>
    <div id="name2">
        <li>Strength: {{ all_cocktails.strength }}</li>
    </div>
    <div id="name">
        <h3>SPIRITS</h3>
    </div>
</body>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif%}
{% endblock %}

















