{% extends 'cocktails/base.html' %}

{% block body %}
    {% if all_cocktails %}
        <h2>Our cocktails.</h2>

        <ul>
            {% for c in all_cocktails %}
            <li>
                <!-- Detail Cocktail -->
                <a href="{% url 'cocktails:detail' c.cocktail_name %}" class="btn btn-primary btn-sm">{{ c.cocktail_name }}</a>

                <!-- Delete Cocktail -->
                <a href="{% url 'cocktails:cocktail-delete' c.cocktail_name %}" class="btn btn-default btn-sm">
                    <form action="{% url 'cocktails:cocktail-delete' c.cocktail_name %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="cocktail_name" value="{{ all_cocktails.cocktail_name }}" />
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </a>

                <!-- Favorite Cocktail
                <a href="{#% url 'cocktails:favorite_cocktail' c.id %#}" class="btn btn-default btn-sm btn-favorite" role="button">
                    <span class="glyphicon glyphicon-star {#% if c.is_favorite %#}active{#% endif %#}"></span>
                </a> -->
            </li>
            {% endfor %}
        </ul>

    {% else %}
        <h3>There is not any cocktails</h3>
    {% endif %}

{% endblock %}