{% extends 'cocktails/base.html' %}

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'cocktails/style.css' %}" />
    {% if all_cocktails %}
        {% for c in all_cocktails %}
            <div class="row">
                <div class="card-deck">
                    <div class ="card">
                        <div class="card-block">
                            <img class ="card-image-top" alt="Card Image" src="{{c.cocktail_pic.url }}" style="max-width:20em ">
                            <a href="{% url 'cocktails:detail' c.cocktail_name %}" class="btn btn-primary">{{ c.cocktail_name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h3>There is not any cocktails</h3>
    {% endif %}

{% endblock %}